<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Contacts of Hanaui</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/label.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/popup.css">
  <style>
    .ui.action.input input[type="file"] {
      display: none;
    }
  </style>
  <script>
    function captureReturnKey(e) {
        if (e.keyCode == 13)
            return false;
    }
  </script>

</head>

<body>

<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" href="/">
      <i class="home icon"></i> 첫화면
    </a>
    <a class="item" href="search">
      <i class="search icon"></i> 검색하기
    </a>
    <a class="item" href="create">
      <i class="add user icon"></i> 등록하기
    </a>
    <div class="right menu">
      <a class="ui item" href="logout">
        Logout
      </a>
    </div>
  </div>
</div>
<br><br>
<div class="ui container">
  <div class="ui attached message">
    <div class="header">
      본인의 사진을 등록해주세요.
    </div>
    <p>이미지 사이즈는 800x800 (픽셀), 파일사이즈는 5MB 미만을 권장합니다.</p>
    <p>증명사진 형태의 사진을 올려주세요.</p>
  </div>
  <form class="ui form attached fluid segment" action="upload" method="post" enctype="multipart/form-data">
    <div class="field">
      <label>사진업로드</label>
      <div class="ui fluid action input">
        <input type="text" readonly/>
        <input type="file" name="userfile"/>
        <div class="ui icon button">
          <i class="cloud upload icon"></i>
        </div>
      </div>
    </div>
    <input name="id" type="text" value="<%=id%>" hidden/>
    <input class="ui olive button" type="submit"/>
    <a class="ui button" href="/">Cancel</a>
  </form>
</div>


<!--- Component JS -->
<script src="semantic/dist/assets/library/jquery.min.js"></script>
<!--<script src="semantic/assets/library/iframe-content.js"></script>-->
<script type="text/javascript" src="semantic/dist/components/popup.js"></script>
<script type="text/javascript" src="semantic/dist/components/dropdown.js"></script>
<script type="text/javascript" src="semantic/dist/components/transition.js"></script>
<script type="text/javascript" src="semantic/dist/components/accordion.js"></script>
<script type="text/javascript" src="semantic/dist/components/checkbox.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>
